<%- include('./partials/header.ejs') %>

<body class="container">
  <div class="container info text-center my-3 mx3">
    <h2>Puerto</h2>
    <div class="jumbotron">
      <p><%= config.port %></p>
    </div>
    <h2>URL base de datos</h2>
    <div class="jumbotron">
      <p><%= config.mongodb %></p>
    </div>
    <h2>Mail de notificaciones</h2>
    <div class="jumbotron">
      <p><%= config.MAIL_ETH_USER %></p>
    </div>
    <h2> tiempo de expiración de sesión</h2>
    <div class="jumbotron">
      <p><%= `${config.cookie_max_age / 60000} minutos` %></p>
    </div>
   
  </div>
</body>
</html>
